<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Crud MongoDb</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="/tabla" class="nav-link">Registro</a>
          </li>
          
          <li class="nav-item active">
            <a href="/insert" class="nav-link">Registrar Alumno</a>
          </li>
          


          <li class="nav-item active">
            <a href="/tablaca" class="nav-link">Calificaciones</a>
          </li>
          </ul>
         
      </div>
  </nav>
  <br>
